@using EventRegistration.Services
@using EventRegistration.ViewModels
@using EventModels
@inject RegistrationService RegistrationService
@inject SessionService SessionService

<h6>Selected Sessions</h6>
<hr />
<ul class="list-group">
  @foreach (var session in sessions)
  {
    // class active highlights
  <li class="list-group-item">
    <div class="container-fluid">
      <div class="row">
        <div class="col-11">
          <span>@session.Title (@session.Day)</span>
        </div>
        <div class="col-1">
          <button @onclick="@(() => OnRemove.InvokeAsync(session.Id))" class="btn btn-primary btn-sm">Remove</button>
        </div>
      </div>
    </div>
  </li>
  }
</ul>

@code {

    private SessionList sessions = null;
    private SelectedSessionsViewModel model;

    [CascadingParameter]
    public string RegistrationId { get; set; }

    [Parameter]
    public EventCallback<int> OnRemove { get; set; }

    public void Refresh()
    {
      sessions = model.PopulateSessions(RegistrationId);
    }

    protected override void OnInitialized()
    {
      model = new SelectedSessionsViewModel(RegistrationService, SessionService);
      sessions = model.PopulateSessions(RegistrationId);
    }

}
