@using EventRegistration.Services
@using EventModels
@inject SessionService SessionService

@if (sessions == null)
{
  <p><em>Loading...</em></p>
}
else
{
  <h5>Available Sessions</h5>
  <hr />

  <div class="container">
    <div class="row font-weight-bold">
      <div class="col">
        Day
      </div>
      <div class="col">
        Title
      </div>
      <div class="col">
        Description
      </div>
      <div class="col">
        &nbsp;
      </div>
    </div>
  </div>

  <div class="container">
    @foreach (var session in sessions)
    {
      <div class="row mt-1">
        <div class="col">
          @session.Day
        </div>
        <div class="col">
          @session.Title
        </div>
        <div class="col">
          @session.Description
        </div>
        <div class="col">
          <button @onclick="AddSession" class="btn btn-primary btn-sm">Add</button>
        </div>
      </div>
    }
  </div>

}

@code {

  private SessionList sessions = null;

  protected override void OnInitialized()
  {
    var sessionList = SessionService.GetAllSessions();
    // ToDo: get sessions that haven't been added to an existing registration.
    sessions = new SessionList(sessionList);
  }

  void AddSession(MouseEventArgs args)
  {

  }

}
