@page
@model EventRegistration.Partials.SimpleSessionFormModel
@{
    <h3>Edit Session</h3>
    <EditForm OnValidSubmit="HandleValidSubmit()">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputText id="title" -Value="Title" />

        <button type="submit">Submit</button>
    </EditForm>
}
