@page "/counter"
@using EventRegistration.Services
@using EventModels
@using System.Diagnostics
@inject SessionService SessionService

@*Just here for sanity testing when things break in razor*@

<p>Current count: @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;
    }

}
