@page "/edit-registration/{RegistrationId}"
@using EventRegistration.ViewModels
@using EventRegistration.Services
@inject RegistrationService RegistrationService
@inject RegistrantService RegistrantService

<div class="alert alert-dark">Edit Registration for @registrantName</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <CascadingValue Value="RegistrationId">
        <SelectSessions OnAdd="AddSessionHandler" @ref="selectSessionsComponent" />
      </CascadingValue>
    </div>
    <div class="col">
      <CascadingValue Value="RegistrationId">
        <SelectedSessions />
      </CascadingValue>
    </div>
  </div>
</div>

@code {
    private EditRegistrationViewModel model;
    private string registrantName = string.Empty;
    protected SelectSessions selectSessionsComponent;

    [Parameter]
    public string RegistrationId { get; set; }

    protected override void OnInitialized()
    {
      model = EditRegistrationViewModel.CreateAsync(RegistrationService, RegistrantService, RegistrationId);
      registrantName = model.RegistrantName();
    }

    void AddSessionHandler(int sessionId)
    {
      model.AddSession(sessionId);
      selectSessionsComponent.Refresh();
    }
}
