@page "/edit-registration/{RegistrationId}"
@using EventRegistration.ViewModels
@*SelectSessions & SelectedSessions components *@

<h3>Edit Registration</h3>
<div>@model?.RegistrantId</div>

@code {
    private EditRegistrationViewModel model;

    [Parameter]
    public string RegistrationId { get; set; }

    protected override void OnInitialized()
    {
        if (int.TryParse(RegistrationId, out var id))
        {
            model = new(id);
        }
    }
}
