@page "/edit-registration/{RegistrationId}"
@using EventRegistration.ViewModels
@using EventRegistration.Services
@inject RegistrationService RegistrationService
@inject RegistrantService RegistrantService

<h3>Edit Registration for @registrantName</h3>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <SelectSessions />
    </div>
    <div class="col">
      <SelectedSessions />
    </div>
  </div>
</div>

@code {
    private EditRegistrationViewModel model;
    private string registrantName = string.Empty;

    [Parameter]
    public string RegistrationId { get; set; }

    protected override void OnInitialized()
    {
      model = EditRegistrationViewModel.CreateAsync(RegistrationService, RegistrantService, RegistrationId);
      registrantName = model.RegistrantName();
    }
}
